<h1 class="is-size-1">Login</h1>

<div class= "is-size-3">
<%= form_tag %>
    Username:
    <%= text_field_tag :username %>
    <br>

    Password:
    <%= password_field_tag :password %>
    <br>

    <input class="button is-default is-primary" type="submit" value="Sign in">
    
</div>