<h1 class= "is-size-1">New entry for <%= @entry.project.title %></h1>

<%= render partial: "layouts/errors", locals: {object: @entry} %>

<%= render partial: 'form' , locals: {entry: [@entry.project, @entry]}%>
