<h1 class = "is-size-1">Welcome <%= @user.username %></h1>

<br>
<h2 class = "is-size-3"> All of the projects you have created entries for! </h2>

<%= render partial: '/projects/projects', locals: {projects: @user.projects} %>