<h1> Get inspiration from other people's projects! </h1>


<ol>
<% @projects.each do |project| %>
    <% if project.collaboration == true %>
    <strong><li><h3>Title: <%= link_to(project.title, project) %> </h3></li></strong>
        <ul>
            <% project.categories.each do |category| %>
            <li> <%= link_to(category.name, category) %> </li>
             <%end%>

         
            <li>Description: <%= project.description %></li>
            <li>Number of Entries: <%= project.entries.count %> </li>
        </ul>
    <% end %>
</ol>
<% end %>