<h1 class="is-size-1"> Get inspiration from other user's projects! </h1>

<%= empty_project_message %>

<h2 class="is-size-3"><%= link_to "See all projects that allow for collaborations!", projects_collaboration_path%> </h2>
<br>
<br>
<%= render 'projects'%>