<h1> Get inspiration from other user's projects! </h1>
<%= empty_project_message %>

<h2><%= link_to "See all projects that allow for collaborations!", projects_collaboration_path%> </h2>

<%= render 'projects'%>