<h1>Projects that are collaboration friendly! </h1>
<ul>
    <% @projects.each do |project| %>
        <li><h2><%= link_to( project.title,project) %></h2></li>
        <ul>
        <li>Description: <%= project.description %></li>
        <br>
        <li>Number of Entries: <%= project.entries.count %></li>
        </ul>
    <% end %>
    </ul>
